.span-number{
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #b9c610;
    font-size: .8125rem}
    .span-price{
        font-size: 1.2rem;
        color: #b9c610;
        font-weight: 700;
    line-height: 1.2;
    font-family: Montserrat,sans-serif;
    }
    .card-title{
        color: #212529;
        font-family: Montserrat,sans-serif;
        margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
    font-size: 2rem;
    }